.calculator-root{
    font-family: 'Catamaran', sans-serif;
    font-size: .7rem;
    font-weight: 300;
    width: 75%;
}
.input-parent{
    display: flex;
    justify-content: start;
    align-items: center;
}

.input-label{

}

#numberEntered{
  width: 100%;
  margin-right: 2px;
  height: 14.6px;
}

#calculate{
    background-color: #5cb85c;
    border: .1rem solid #5cb85c;
    border-top-right-radius: .3rem;
    border-bottom-right-radius: .3rem;
    cursor: pointer;
}