<header class="header">
  <div class="header-text">Donate with Gates Challenge!!</div>
</header>
<div class="main-root">
  <div class="content-root">
    <div class="mission-text">
      The <a href="https://www.gatesfoundation.org/TheOptimist/coronavirus" target="_blank">Bill and Melinda Gates foundation recently pledged, with their corporate sponsors, $100 Million to research
      and prevention of the deadly COVID-19 pandemic.</a> Bill Gates’ net worth is $96.3 Billion, which makes $100 million
      approximatley 0.1%.
    </div>
    <hr>
    <div class="mission-text">

      How much money would there be if everyone gave 0.1% of their yearly salary to that same fight? If you guessed “a
      lot”, then you are right. There are 128 million households in the United States with an average household income
      of $63,179. If just 25% of those households in the United States donate 0.1% of their yearly salary to COVID-19
      research and protective equipment for our amazing medical staff around the country, the total amount is in excess
      <strong>$2 billion</strong>. Yes, billion with a “b”.
    </div>
    <hr>
    <div class="mission-text">
      Please enter your yearly salary below for the number you should consider giving. You’ll find a link to our kick
      starter below, where you’ll be able to donate.
    </div>



  </div>
</div>