.header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 5rem;
    background-color: #366979;
    width: 100%;
    border-bottom: #000000 .1rem solid;
    margin: 0 auto;
}

.main-root {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 4rem;
}

.header-text {
    font-size: 1.3rem;
    color: #e0c713;
    font-weight: bold;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.6);
}

.content-root {
    padding: 2rem;
    border-radius: .3rem;
    border: .1rem solid gray;
    background-color: #f3f3f3;
}

.mission-text {
    font-size: .7rem;
    font-weight: 300;
    font-family: 'Catamaran', sans-serif;
}